*/Binaries/**
*/Intermediate/**
*.suo
*.sdf
*.opensdf
CMakeLists.txt
/Runtime/Scripts/Engine-Generated/**
/Runtime/*.bat
/Runtime/*.py
/Runtime/SkookumIDE/Skookum-user.ini

/Runtime/*2013*.*
/Runtime/Source/SkookumScript/*2013*.*
/Runtime/Source/SkookumScript/Private/**
/Runtime/Source/SkookumLibs*.*
/Runtime/SkookumIDE/Source/**
/Runtime/SkookumIDE/*-Dev.*
/Runtime/SkookumIDE/*-Coder.*
/Runtime/SkookumIDE/*32.*
/Runtime/SkookumIDE/Scripts/workspace?.sk
